body {
  font-family: "Roboto", sans-serif;
}

.search-form {
  display: flex;
  height: 2rem;
  margin-top: 2rem;
}

.search-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.search-input {
  border: none;
  border-radius: 2rem;
  background: none;
  margin-left: 1rem;
}

.search-input,
textarea {
  padding-left: 1rem;
  color: #797c80;
  background-color: #E2E8F0;
  width: 50rem;
}

.search-input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: 0 0 0.7rem #c1c6cc;
}

.search-button img {
  height: 1.5rem;
  width: auto;
}